@page
@model CA2_Web.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About Application</h1>
<div>
    Main objective of this project is to have an IOT device for monitoring the rooms registered in this app.
    <br />
    The devices will send live data which includes lux levels, temeprature, humidity and access card used by
    the room which will then be displayed on the web application.
    <br />
    This web appliation will be a centralized control system for sending out commands to the IOT devices 
    and displaying or gathering of data produced by the devices.
</div>