@page
@model CA2_Web.Pages.Location.AddModel
@{
    ViewData["Title"] = "Add Location";
}

<h3>Add Location</h3><hr />

<div id="pageLoader" class="container d-flex justify-content-center">
    <img src="~/images/Loader.gif" />
</div>

<div id="pageContent" class="container" style="display:none;">
    @if (Model.ShowMessage)
    {
        <div class="alert @Model.Message.Split('|')[0] alert-dismissible fade show" role="alert">
            @Model.Message.Split('|')[1]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        Model.Message = "";
    }

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Input.Name" id="txt_inputNameLbl" for="txt_inputName"></label>
            <input asp-for="Input.Name" id="txt_inputName" type="text" class="form-control" placeholder="Location Name" />
            <br />

            <label asp-for="Input.Description" id="txt_inputBiographyLbl" for="txt_inputBiography"></label>
            <input asp-for="Input.Description" id="txt_inputBiography" type="text" class="form-control" placeholder="Location Description" />
            <br />

            <label id="file_inputImgLbl" for="file_inputImgDesc" value="0">Image</label>
            <div class="input-group">
                <input asp-for="Input.Photo" type="file" id="file_inputImg" accept="image/*" aria-describedby="file_inputImgDesc"
                        class="custom-file-input" oninput="file_inputImg_onInput(event)" />
                <label asp-for="Input.Photo" id="file_inputImgDesc" class="custom-file-label" for="file_inputImg">Location Photo</label>
            </div>
            <br />
        </div>

        <a href="/Location/Index" class="btn btn-outline-danger btn-default">Cancel</a>
        <button id="btn_submit" class="noClick btn btn-outline-info">Upload</button>
    </form>
</div>

<script>
    $("#pageLoader").fadeOut(@Model.LoaderFade, function () {
        $(this).remove();
        $("#pageContent").fadeIn(@Model.ContentFade);
    });

    function file_inputImg_onInput(event) {
        var filePath = $("#file_inputImg").val();
        if (filePath) {
            var startIndex = (filePath.indexOf('\\') >= 0 ? filePath.lastIndexOf('\\') : filePath.lastIndexOf('/'));
            var fileName = filePath.substring(startIndex);
            if (fileName.indexOf('\\') === 0 || fileName.indexOf('/') === 0) {
                fileName = fileName.substring(1);
            }
            $("#file_inputImgDesc").html(fileName);
        }
    }
</script>